<div class="container my-5">
<h1 class="mb-3">Employees</h1>
<table class="table">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
    </tr>
</thead>
<tbody>
    <tr *ngfor="let employee of employess">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.salary }}</td>
    </tr>
</tbody>
</table>
<p *ngif="!employess || employess.lenght==0">NO Employees found</p>
</div>
